<div class="flex pt-32">
    <!-- Left Side Content -->
    <div class="flex-1 p-12 my-auto">
        <div class="mb-4 text-sm text-gray-600">
            Anim aute id magna aliqua ad ad non deserunt sunt. 
          <a href="#" class="text-blue-600 hover:underline">Read more &rarr;</a>
        </div>
    
        <h1 class="text-6xl font-bold mb-6">Data to enrich your online business</h1>
    
        <p class="text-lg mb-8">
          Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
        </p>
    
        <div class="flex gap-4">
          <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
              Get started
          </button>
          <a href="#" class="text-blue-600 hover:underline py-2 px-4">Learn more &rarr;</a>
        </div>
    </div>
    
    <!-- Right image section -->
    <div class="flex-1 clip-path h-screen">
      <img src="assets/landing_image.png" alt="Description" class="w-full h-full object-cover">
    </div>
</div>  